<%- include('../partials/_header.ejs') %>
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    	<h4 class="card-title mb-4">Edit Parent Organization</h4>
                        <div class="form-validation">
                            <form class="form-valide" action="/organizations/<%= organization._id %>" method="post" id="organization_form">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-name">Organization Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input value="<%= organization.name %>" type="text" class="form-control" id="val-name" name="name" placeholder="Organization name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-denomination">Denomination <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input value="<%= organization.denomination %>" type="text" class="form-control" id="val-denomination" name="denomination" placeholder="Denomination">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-address">Address <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input value="<%= organization.address %>" type="text" class="form-control" id="val-address" name="address" placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-country">Country <span class="text-danger">*</span>
                                    </label>
									<% var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic of the", "Congo, Republic of the", "Costa Rica", "Côte d’Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor (Timor-Leste)", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia, Federated States of", "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar (Burma)", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Macedonia", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain", "Sri Lanka", "Sudan", "Sudan, South", "Suriname", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"] %>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="val-country" name="country">
                                            <option value="">Please select</option>
											<% for ( var i = 0; i < countries.length; i++ ) { %>
                                        		<% selected = organization.country == countries[i] ? 'selected' : '' %>
                                            	<option <%= selected %> value="<%= countries[i] %>"><%= countries[i] %></option>
											<% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-state">State <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input value="<%= organization.state %>" type="text" class="form-control" id="val-state" name="state" placeholder="Enter State">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-city">City <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input value="<%= organization.city %>" type="text" class="form-control" id="val-city" name="city" placeholder="Enter City">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-zipcode">Zip Code <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input value="<%= organization.zipcode %>" type="text" class="form-control" id="val-zipcode" name="zipcode" placeholder="Enter Zip Code">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
<%- include('../partials/_footer.ejs') %>
<script src="/plugins/validation/jquery.validate.min.js"></script>
<script src="/plugins/validation/jquery.validate-init.js"></script>